---
import Hero from '../components/ui/Hero.astro'
import BaseLayout from '../layouts/Default.astro'
---

<BaseLayout title='Not Found' description='404 Error — this page was not found'>
  <Hero title='Page Not Found' tagline='Not found' />

  <!-- Test Sentry -->
  <button onclick="throw new Error('a user is expressing frustrating')">
    Show your frustration
  </button>
</BaseLayout>
