---
import { SITE } from '../config'

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/Default.astro'

// Component Imports
import Hero from '../components/ui/Hero.astro'

const siteOwnerName = SITE.owner.name,
  siteOwnerDescription = SITE.owner.description,
  siteLogo = SITE.assets.logo
---

<BaseLayout>
  <main class='flex flex-col gap-8 lg:gap-20 h-full'>
    <header class='px-4'>
      <img width='360' height='360' {...siteLogo} />

      <Hero
        title={siteOwnerName}
        tagline={siteOwnerDescription}
        align='center'
      />
    </header>
  </main>
</BaseLayout>

<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .hero img {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
    border-radius: 100%;
    box-shadow: var(--shadow-md);
  }
</style>
