---
import { getCollection } from 'astro:content'
import { sortContent } from 'src/lib/content'

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from 'src/layouts/Default.astro'

// Component Imports
import ContentPreview from 'src/components/ContentPreview.astro'

const maxWorkCount = 5,
  allWork = await getCollection('work').then(sortContent),
  featuredWork = allWork.filter((e) => e.data.isFeatured).slice(0, maxWorkCount)
  
const maxPostCount = 3,
  allPosts = await getCollection('posts').then(sortContent),
  featuredPosts = allPosts.filter((e) => e.data.isFeatured).slice(0, maxWorkCount)
  
---

<BaseLayout>
  <main
    class:list={[
      'flex flex-col gap-8 h-full',
      'xl:flex-row justify-center xl:px-12'
    ]}
  >
    <section class='flex flex-col gap-8 max-w-3xl'>
      <h2 class='text-2xl'>
        <a href='/posts' class='underline'> Some of the things I've written about... </a>
      </h2>

      <ul class:list={[
        'flex flex-col gap-12'
      ]}>
        {
          featuredPosts.map((entry) => (
            <li>
              <ContentPreview entry={entry} variant='row' />
            </li>
          ))
        }
      </ul>
    </section>

    <section class='flex flex-col gap-8 max-w-3xl'>
      <h2 class='text-2xl'>
        <a href='/posts' class='underline'>
          Some of the things I've worked on...
        </a>
      </h2>

      <ul class:list={[
        'flex flex-col gap-12'
      ]}>
        {
          featuredWork.map((entry) => (
            <li>
              <ContentPreview entry={entry} variant={'row'} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>