---
import { getCollection } from 'astro:content'

import BaseLayout from '../layouts/Default.astro'

import ContentPreview from '../components/ContentPreview.astro'
import Hero from '../components/ui/Hero.astro'
import Grid from '../components/ui/Grid.astro'
import { SITE } from '../config'
import { sortContent } from '../lib/content'

const siteOwnerName = SITE.owner.name

const posts = sortContent(await getCollection('posts'))
---

<BaseLayout
  title={`Posts | ${siteOwnerName}`}
  description={`Learn about ${siteOwnerName}'s most recent posts`}
>
  <main class='flex flex-col gap-8 max-w-3xl mx-auto px-4'>
    <Hero
      title='Posts'
      tagline='See my most recent thoughts below.'
      align='start'
    />

    <Grid variant='offset'>
      {
        posts.map((entry) => (
          <li>
            <ContentPreview entry={entry} />
          </li>
        ))
      }
    </Grid>
  </main>
</BaseLayout>
