---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Search from "@components/Search";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import extractTitle from "@utils/extractTitle";
import { getCollection } from "astro:content";

// Retrieve all articles
const posts = await getCollection("posts");

// List of items to search in
const promises = posts
  .filter(({ data }) => !data.isDraft)
  .map(async (post) => ({
    title: extractTitle(post.data),
    description: post.data.description,
    headings: (await post.render()).headings.map((h) => h.text),
    data: post,
  }));

const searchList = await Promise.all(promises);
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <Search client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
