---
import { getCollection } from 'astro:content'

import BaseLayout from '../layouts/Default.astro'

import ContentPreview from '../components/ContentPreview.astro'
import Hero from '../components/ui/Hero.astro'
import Grid from '../components/ui/Grid.astro'
import { SITE } from '../config'
import { sortContent } from 'src/lib/content'

const siteOwnerName = SITE.owner.name

const work = sortContent(await getCollection('work'))
---

<BaseLayout
  title={`My Work | ${siteOwnerName}`}
  description={`Learn about ${siteOwnerName}'s most recent projects`}
>
  <main class='flex flex-col gap-8 max-w-3xl mx-auto px-4'>
    <Hero
      title='My Work'
      tagline='See my most recent projects below to get an idea of my past experience.'
      align='start'
    />

    <Grid variant='offset'>
      {
        work.map((entry) => (
          <li>
            <ContentPreview entry={entry} />
          </li>
        ))
      }
    </Grid>
  </main>
</BaseLayout>
