---
// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, '')

// Get url array from path
// eg: /tags/tailwindcss => ['tags', 'tailwindcss']
const breadcrumbList = currentUrlPath.split('/').slice(1)
---

<nav class='breadcrumb' aria-label='breadcrumb'>
  <ul>
    <li>
      <a href='/'>Home</a>
      <span aria-hidden='true'>&#62;</span>
    </li>
    {
      breadcrumbList.map((breadcrumb, index) =>
        index + 1 === breadcrumbList.length ? (
          <li>
            <span class={`${index > 0 ? 'lowercase' : ''}`} aria-current='page'>
              {breadcrumb}
            </span>
          </li>
        ) : (
          <li>
            <a href={`/${breadcrumb}`}>{breadcrumb}</a>
            <span aria-hidden='true'>&#62;</span>
          </li>
        )
      )
    }
  </ul>
</nav>

<style>
  .breadcrumb {
    margin-bottom: 1rem;
  }
  .breadcrumb ul li {
    display: inline;
  }
  .breadcrumb ul li a,
  .breadcrumb ul li span {
    opacity: 0.7;
    text-transform: capitalize;
  }
  .breadcrumb ul li:not(:last-child) a:hover {
    opacity: 1;
  }

  @media print {
    .breadcrumb {
      display: none;
    }
  }
</style>
