---
// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, '')

// Get url array from path
// eg: /tags/tailwindcss => ['tags', 'tailwindcss']
const breadcrumbList = currentUrlPath.split('/').slice(1)
---

<nav class='breadcrumb' aria-label='breadcrumb'>
  <ul class='text-sm'>
      <li>
        <a href='/'>Home</a>
        {breadcrumbList.length ? (
          <span aria-hidden='true'>&#8250;</span>
        ): null}
      </li>
    {
      breadcrumbList.length ?
        breadcrumbList.map((breadcrumb, index) =>
          index + 1 === breadcrumbList.length ? (
            <li>
              <span aria-current='page'>
                {breadcrumb}
              </span>
            </li>
          ) : (
            <li>
              <a href={`/${breadcrumb}`}>{breadcrumb}</a>
              <span aria-hidden='true'>&#8250;</span>
            </li>
          )
        )
        : null
    }
  </ul>
</nav>

<style>
  .breadcrumb ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.2em;
  }
  .breadcrumb ul li {
    display: inline-block;
    white-space: nowrap;
  }
  .breadcrumb ul li a,
  .breadcrumb ul li span {
    display: inline-block;
    opacity: 0.7;
    text-transform: capitalize;
  }
  .breadcrumb ul li:not(:last-child) a:hover {
    opacity: 1;
  }

  @media print {
    .breadcrumb {
      display: none;
    }
  }
</style>
