button {
  @apply border-skin-line rounded-md p-2 px-4 text-lg font-semibold cursor-pointer border-solid border-2;
  transition: border-color 0.25s, color 0.35s;
}

button svg {
  transition: fill 0.25s;
}

button:hover {
  @apply border-skin-accent text-skin-accent fill-skin-accent;
}

button:hover svg {
  @apply fill-skin-accent;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.quote-container {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0;
  max-width: 100%;
}

.quote-container.history {
  display: block;
}

.quote-container.history h2 {
  @apply text-2xl;
}

.quote-container.history .quote {
  @apply rounded-md m-4;
}

.quote {
  @apply bg-skin-card rounded-md py-1 px-2 flex;
  flex: 1 1 auto;
}

.quote blockquote {
  flex: 1 1 auto;
}

.quote .quote-action {
  flex: 0 0 auto;
  align-self: center;
}

.quote-action {
  @apply py-1 px-2 ml-4;
  flex: 0 0 25%;
  display: block;
}

.quote-action.icon {
  @apply p-1;
  flex: 0 0 auto;
}

.quote-attribution {
  @apply text-sm;
  text-align: right;
}

a {
  @apply text-skin-accent;
}
