---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { Quoter } from "@components/Quoter";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <Header />
  <main id="main-content" class="mx-auto w-full max-w-xl">
    <h1>Why Ye?</h1>

    <Quoter client:idle />
  </main>

  <Footer />
</Layout>

<style>
  h1 {
    @apply inline-block font-bold my-4 sm:my-8 text-3xl sm:text-5xl;
  }
</style>
