---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports

import Head from '../components/Head.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import SpeedInsights from '@vercel/speed-insights/astro'

interface Props {
  title?: string | undefined
  description?: string | undefined
}

const { title, description } = Astro.props
---

<html lang='en'>
  <head>
    <Head title={title} description={description} />
  </head>

  <body
    class='text-stone-900 dark:text-stone-100 bg-stone-100 dark:bg-stone-900'
  >
    <div class='flex flex-col h-full w-full'>
      <slot name='nav'>
        <Nav />
      </slot>

      <slot />

      <SpeedInsights />

      <slot name='footer'>
        <Footer />
      </slot>
    </div>

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener('load', () =>
        document.documentElement.classList.add('loaded')
      )
    </script>

    <style>
      :root {
        --_placeholder-bg: linear-gradient(transparent, transparent);
      }
    </style>
  </body>
</html>
