---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import { SITE } from "@config";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: { title: string };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <main id="main-content">
    <Breadcrumbs />
    <section id="resume" class="p-1/5 prose max-w-3xl prose-img:border-0">
      <h1 class="text-2xl sm:text-3xl tracking-wider">{frontmatter.title}</h1>
      <slot />
    </section>
  </main>
</Layout>
