---
import { SITE } from '../config.ts'
import BaseLayout from './Default.astro'

export interface Props {
  frontmatter: { title: string }
}

const { frontmatter } = Astro.props
---

<BaseLayout title={`${frontmatter.title} | ${SITE.meta.title}`}>
  <main
    id='main-content'
    class='text-sm print:text-xs print:prose-xs px-6 p-1/5 pb-12 prose max-w-3xl prose-img:border-0 mx-auto'
  >
    <slot />
  </main>
</BaseLayout>

<style is:global>
  main {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .skill-summary {
    > * {
      margin: 0;
      line-height: 1.75;
    }
  }

  .detail {
    @apply flex flex-col sm:flex-row justify-between sm:items-start;

    @media print {
      @apply flex-row items-start;
    }

  }

  footer {
    display: none !important;
  }

  @media print {
    footer, nav {
      display: none !important;
    }

    body {
      font-size: 8px;
    }
  }
</style>
