---
import Breadcrumbs from '../components/Breadcrumbs.astro'
import { SITE } from '../config.ts'
import BaseLayout from './Default.astro'

export interface Props {
  frontmatter: { title: string }
}

const { frontmatter } = Astro.props
---

<BaseLayout
  title={`${frontmatter.title} | ${SITE.meta.title}`}
  theme={{ nav: { enabled: false }, footer: { enabled: false } }}
>
  <main
    id='main-content'
    class='text-sm print:text-xs p-1/5 px-12 pb-12 prose max-w-3xl prose-img:border-0 mx-auto'
  >
    <Breadcrumbs />
    <slot />
  </main>
</BaseLayout>

<style is:global>
  .breadcrumb ul {
    padding-left: 0px;
  }
</style>
